---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}          
  <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="container" style="padding: 70px 0 50px;">
            <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0;">
            <!-- <h1>{{ site.title }}</h1> -->
              <iframe 
                src="https://www.youtube-nocookie.com/embed/FZOTpcNcNp0?si=TQFRkvpPmIw9UxoU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              >
              </iframe>
            </div>
            {% if site.description %}
            <!-- <span class="subheading">{{ site.description }}</span> -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto"> 
      </div>
    </div>
  </header>
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        
        <!-- Youtube Fish -->
    
          <iframe src="https://www.youtube-nocookie.com/embed/FZOTpcNcNp0?si=TQFRkvpPmIw9UxoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"allowfullscreen>
          </iframe>
          </div>
        </div>
    </div>
          <!-- BBB Instagram Feed -->
        
        <div>
          <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-5ff0d60e-7de9-4081-ba4f-16d400fa626c" data-elfsight-app-lazy></div>
        </div>
        
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
